.content-module {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3% 0;
  &__image {
    width: 100%;
    height: auto;
    max-width: calc(0.48 * 1330px);
  }
  &__description {
    max-width: 39.85%;
  }
  &_reverse {
    flex-direction: row-reverse;
  }
}
