.decor {
  position: relative;
  &::before {
    content: "";
    background-image: url("../icons/decor_img.svg");
    display: block;
    position: absolute;
    width: 68px;
    height: 74px;
  }
  &_top::before {
    top: -26px;
  }
  &_left::before {
    left: -26px;
  }
}
