.episodes {
  margin-bottom: 16%;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4% 0 5%;
  }
  &__main {
    display: flex;
    flex-direction: column-reverse;
    > .card + .card {
      margin-bottom: 60px;
    }
  }
}
