.title {
  color: inherit;
  &_primary {
    @include getFontStyle(4.375rem, 1.257);
  }
  &_alter {
    @include getFontStyle(4.5rem, 1.1);
  }
  &_secondary {
    @include getFontStyle(4rem, 1.24);
  }
  &_tertiary {
    @include getFontStyle(3.56rem, 1.24);
  }
  &_main {
    @include getFontStyle(4rem, 1.1);
  }
  &_small {
    @include getFontStyle(0.94rem, 1.6);
  }
  &_underline {
    & > span {
      @include getFontStyle(1.07em, 1.173);
      position: relative;
      &::after {
        content: "";
        background-image: url("../icons/decor_title.svg");
        display: block;
        position: absolute;
        width: 160px;
        height: 104px;
        top: 0;
      }
    }
  }
  &_strong {
    & > strong {
      @include getFontStyle(5rem, 1.1, 700);
    }
  }
  &_cap {
    & > span {
      display: block;
      @include getFontStyle(1.125rem, 1.5);
      color: $contrast-color;
    }
  }
}
