$graphite-black: #191919;
$black: #000;
$white: #fff;
$blue-green-crayola: #118da8;

$font-family: "DM Sans";

$bg-color: $graphite-black;
$bg-color-card: $black;
$color: $white;
$contrast-color: $blue-green-crayola;
