@import "fonts.scss";
@import "vars.scss";
@import "mixins.scss";
@import "reset.scss";
@import "global.scss";
@import "header.scss";
@import "nav.scss";
@import "content-module.scss";
@import "title.scss";
@import "app-bar.scss";
@import "decor.scss";
@import "episodes.scss";
@import "button.scss";
@import "description.scss";
@import "card.scss";
@import "form-block";

@import "footer.scss";

.intro__title {
  margin-bottom: 17%;
}

.mark {
  @include getFontStyle(1.125rem, 1.5);
  padding: 0 1rem;
  background-color: $bg-color;
  border-radius: 6px;
}
